@import "_variables";

&{

  @counter-height: 24px;

  .content {
      padding: @content-padding;

      &__top {
          background: @color-top;
          img {
              width: auto;
              height: 35px;
          }
      }

      &__app{
        margin: 0 auto;
        max-width: 600px;
        min-width: 200px;
      }
  }

  .counter {

      display: block;
      margin: 0 auto;
      width: 160px;

      &_btn {
          width: @counter-height;
          height: @counter-height;
          cursor: pointer;
      }

      &_value {
          display: inline-block;
          width: 60px;
          line-height: @counter-height;
          padding: 0 5px;
          text-align: center;
      }
  }

  .users{
    margin-top: @block-margin;
    margin-bottom: @block-margin;

    UL{
      display: block;
      padding: 0;
      margin: -15px 0 0 -15px;
    }

    LI {
      display: block;
      padding: 5px;
      margin: 15px 0 0 15px;
      list-style: none;
      float:left;
      width: 128px;
      text-align: center;
      background-color: lightgrey;
    }

    IMG {
      width: 128px;
      height: 128px;
    }

    &__fetching{
      opacity: .5;
      filter: blur(2px);
    }

    &_toolbar{
      text-align: center;
    }
  }

  .app-launching {
      display: block;
      margin-top: 25px;
      font-style: italic;
  }
}